<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="mukesh_patel_index" id="mukesh_patel_index">
			<module name="Mukesh_Patel"/>
		</route>
	</router>
</config>
